<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">

	<Fragment>

		<StandardDirectory
			Id="{{ProgramFilesFolder}}">
			<Directory 
				Id="INSTALLFOLDER"
				Name="{{InstallFolderName}}" />
		</StandardDirectory>

		<StandardDirectory
			Id="ProgramMenuFolder">
			<Directory 
				Id="ProgramMenuDir"
				Name="{{ShortcutName}}" />
		</StandardDirectory>

		<StandardDirectory
			Id="DesktopFolder" />

	</Fragment>

</Wix>